<a href='/index'> 
  <img class='homeLogo' src="/images/rollforward.PNG" alt="rollforward report">
  <figcaption>Investment rollforward</figcaption>
</a>
    
<a href="new">
  <img class='homeLogo'  src="/images/reportsimage.PNG" alt="new entry button">
  <figcaption>New entry</figcaption>
</a>

<a href="report">
  <img class='homeLogo'  src="/images/reconciliation.PNG" alt="whole report">
  <figcaption>All data report</figcaption>
</a>
   
 
      
    
  


    