<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
  
  <title>Investment Tracker</title>
</head>
<body>

   
      <div class="nav-top">
        <nav role="navigation">
          <div class="nav-top-social">
            <a href="/" class="w-nav-link"> <img src="/images/564-5647199_home-sweet-home-clip-art.png" style="margin-left:10px;margin-top:10px"width="25" alt="home link"></a>

            <img style="float: right; width: 200px" src="/images/logo.png" alt="boston tehcie logo">
         
            
          </div>
        </nav></div>
      <!-- Other elements here -->
      <%- body %>  
    </div>


  

</body>
</html>