<select style="float: right;"name="listnInvNames" multiple="multiple">
  
    <% rollData.forEach ((rollData, index) => { %>

  
    <option>
    <%=rollData.name%>
    </option> <% }) %> 

</select>

<table>
    <thead>
        <tr>
            <th>Categories</th>
            <th>7/31/19</th>
            <th>8/31/19</th>
            <th>9/30/19</th>
            <th>10/31/19</th>
            <th>11/30/19</th>
            <th>12/31/19</th>
            <th>1/31/20</th>
            <th>2/28/20</th>
            <th>3/31/20</th>
            <th>4/30/20</th>
            <th>5/31/20</th>
            <th>6/30/20</th>
        </tr>
        <tr>
            <th>B Balance</th>
          
        </tr>


    </thead>

</table>


